/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   footer.css                                         :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/09/14 09:22:45 by tbouder           #+#    #+#             */
/*   Updated: 2016/09/14 10:31:44 by tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.footer_container
{
	width: 100%;
	height: auto;
	padding-top: 7vh;
	text-align: center;
	position: absolute;
	bottom: 5px;
}

.footer_content
{
	color: #444444;
	font-family: 'Signika', sans-serif;
	font-size: 1em;
}
.footer_admin
{
	font-family: 'Signika', sans-serif;
	font-size: 1em;
	padding-bottom: 0.5vh;
}
.footer_admin a
{
	color: #8A9097;
	text-decoration: none !important;
}
.footer_admin:hover
{
	text-decoration: underline;
}
