/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   index.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/09/14 09:22:53 by tbouder           #+#    #+#             */
/*   Updated: 2016/09/16 10:38:48 by tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.webcam_container
{
	text-align: center;
}

.webcam_container #video
{
	width: 50vmin;
	height: auto;
	margin-top: 5vh;
	border: 10px solid #FFFFFF;
	border-radius: 10px;
}

.webcam_container .button_countainer
{
	width: 100%;
	height: auto;
	text-align: center;
}

.webcam_container #alternativbutton
{
	display: inline-block;
	margin: auto;
	margin-top: 1vh;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	padding: 10px 20px;
	background: #066C91;
	color: #FFFFFF;
	font-family: 'Signika', sans-serif;
	font-size: 2vmin;
}

.webcam_container #startbutton
{
	height: auto;
	margin: auto;
	margin-top: 5vh;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	padding: 10px 20px;
	background: #066C91;
	color: #FFFFFF;
	font-family: 'Signika', sans-serif;
	font-size: 5vmin;
	cursor: pointer;
}
/******************************************************************************/

.split_container a
{
	text-decoration: none;
}

.split_container
{
	position: absolute;
	z-index: 10;
	width: 100%;
	text-align: center;
	display: inline-block;
	white-space: nowrap;
}
.split_container_padding
{
	position: absolute;
	padding-top: 50px;
	z-index: 10;
	width: 100%;
	text-align: center;
	display: inline-block;
	white-space: nowrap;
}

.split_content
{
    display: inline-block;
	width: 30vw;
    height: 1px;
    border-top: 1px solid #FFFFFF;
    margin: 1px 0;
    padding: 0;
}

.split_text
{
	color: #FFFFFF;
	font-family: 'Signika', sans-serif;
	font-size: 2vmin;
	padding-left: 2vw;
	padding-right: 2vw;
	text-decoration: none;
}

.hold_eye
{
	color: #066C91;
}

/******************************************************************************/
.picture_container
{
	padding-top: 2vh;
	overflow: hidden;
	margin: 10px;
}
.picture_content
{
	float: left;
    position: relative;
	width: 25%;
    padding-bottom: 20%;
}

.picture_content_2
{
	position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
	/*background-color: RED;*/
	text-align: center;
}
.picture_container img
{
	height: 100%;
	widht: auto;
	/*widht: 100%;*/
}

.float_clr
{
	clear: both;
}
/******************************************************************************/
