/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   login.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/09/14 16:24:22 by tbouder           #+#    #+#             */
/*   Updated: 2016/09/19 14:18:56 by tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.login
{
	width: 20vw;
	height: auto;
	margin: auto;
	margin-top: 5vh;
	padding: 10px;
	border: 5px solid #FFFFFF;
	border-radius: 10px;
	background-color: #7F7F7F;
	text-align: center;
	color: #FFFFFF;
}

.login input[type="submit"]
{
	width: 10vmin;
	margin-top: 1vmin;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	padding: 1vmin 1vmin;
	background: #066C91;
	color: #FFFFFF;
	font-family: 'Signika', sans-serif;
	font-size: 1.5vmin;
	cursor: pointer;
}

.login .redirect
{
	text-decoration: none;
	color: #FFFFFF;
}
.login .redirect:hover
{
	text-decoration: underline;;
	color: #066C91;
}

@media (min-width: 0px) and (max-width: 375px)
{
	.login {width: 50vmin;}
	.login input[type="submit"] {width: 20vmin; font-size: 4vmin;}
}
@media (min-width: 376px) and (max-width: 768px)
{
	.login {width: 50vmin;}
	.login input[type="submit"] {width: 20vmin; font-size: 3.7vmin;}
}
