/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   main.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/09/14 09:24:40 by tbouder           #+#    #+#             */
/*   Updated: 2016/09/28 19:24:38 by tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

/* Stylesheet for index */
@import url("index.css");
/* Stylesheet for Navbar */
@import url("navbar.css");
/* Stylesheet for Footer */
@import url("footer.css");
/* Stylesheet for picture_list */
@import url("picture_list.css");
/* Stylesheet for picture_details */
@import url("picture_details.css");
/* Stylesheet for create_account */
@import url("create_account.css");
/* Stylesheet for login */
@import url("login.css");
/* Stylesheet for error */
@import url("error.css");
/* Stylesheet for admin */
@import url("admin.css");

*					{margin: 0; box-sizing: border-box;}
html, body			{font: 12px/1 'Montserrat', sans-serif; width: 100%;}
body
{
	background-color: #333333;
	min-height:100%;
	position:relative;
}

.credits_container
{
	width: 30vw;
	height: auto;
	margin: auto;
	margin-top: 5vh;
	padding: 10px;
	border: 5px solid #FFFFFF;
	border-radius: 10px;
	background-color: #066C91;
	text-align: center;
	color: #FFFFFF;
}
.credits_title
{
	font-family: 'Signika', sans-serif;
	font-size: 2vmin;
	color: #FFFFFF;
	padding-bottom: 1vh;
}
