/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   picture_list.css                                   :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/09/17 14:20:06 by tbouder           #+#    #+#             */
/*   Updated: 2016/09/22 10:35:05 by tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.gallery_next
{
	display: inline-block;
	margin: auto;
	margin-top: 2vh;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	padding: 10px 20px;
	background: #066C91;
	color: #FFFFFF;
	font-family: 'Signika', sans-serif;
	font-size: 2vmin;
	text-decoration: none;
	float: right;
	margin-right : 10vw;
}

.gallery_previous
{
	display: inline-block;
	margin: auto;
	margin-top: 2vh;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	padding: 10px 20px;
	background: #066C91;
	color: #FFFFFF;
	font-family: 'Signika', sans-serif;
	font-size: 2vmin;
	text-decoration: none;
	float: left;
	margin-left : 10vw;
}
