/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   picture_details.css                                :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/09/17 14:20:06 by tbouder           #+#    #+#             */
/*   Updated: 2016/09/26 17:10:52 by tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.picture_details_container
{
	text-align: center;
	width: 80vw;
	margin: auto;
	padding-top: 2vh;
}

.picture_details_title
{
	margin-left: 5vw;
	padding: 1vmin;
	color: #FFFFFF;
	font-size: 1.5em;
}

.picture_details_info
{
	display: table;
	margin: auto;
	vertical-align: middle;
}

.picture_details_img
{
	vertical-align: middle;
	width: 50vmin;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
}
.picture_details_like_button
{
	vertical-align: middle;
	width: 10vw;
	margin: 2vmin;
	cursor: pointer;
}

.picture_details_username
{
	color: #066C91;
	font-size: 1.6em;
	text-align: center;
}

.picture_details_hightlight
{
	color: #066C91;
}

.picture_details_date
{
	padding-top: 0.5vh;
	font-size: 0.5em;
	text-align: center;
}

.picture_details_button
{
	display: inline-block;
	margin: auto;
	margin-top: 1vh;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	padding: 10px 20px;
	background: #9E1635;
	color: #FFFFFF;
	font-family: 'Signika', sans-serif;
	font-size: 1.2vmin;
	cursor: pointer;
}

.comment_section
{
	margin: auto;
	text-align: center;
	width: 50%;
	padding-top: 2vh;
	overflow-wrap: break-word;
}

.comment_content
{
	border: solid 1px #FFFFFF;
	border-radius: 10px;
	padding: 1vmin;
	background-color: #7F7F7F;
	margin-bottom: 2vmin;
}

.comment_section_poster
{
	color: #FFFFFF;
	font-size: 1.2em;
	padding-bottom: 1vmin;
}

.comment_highlight
{
	color: #066C91;
}

.comment_comment
{
	color: #FFFFFF;
	font-size: 1.1em;
}
