/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   webcam.css                                         :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/09/14 09:22:53 by tbouder           #+#    #+#             */
/*   Updated: 2016/09/14 16:29:13 by tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.webcam_container
{
	text-align: center;
}

#video
{
	width: 90vmin;
	margin-top: 5vh;
	border: 10px solid #FFFFFF;
	border-radius: 10px;
}

#startbutton
{
	width: 20vw;
	margin-left: 40vw;
	margin-right: 40vw;
	margin-top: 5vh;
	border: 5px solid #FFFFFF;
	border-radius: 10px;
	padding: 10px 20px;
	background: #066C91;
	color: #FFFFFF;
	font-family: 'Signika', sans-serif;
	font-size: 1.5em;
	cursor: pointer;
}
